*{
    margin: 0;
    padding: 0;
    /* font-size: 18px; */
}
body {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  }
.major{
    width: 100vh;
    /* background-color: aqua; */

}
.main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    background-image: url("./images/bg-desktop-light.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; 
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* background-color: aquamarine; */
    width: 40vw;
    margin-bottom: 20px;
}
.todo{
    /* background-color: beige; */
    font-size: 30px;
    letter-spacing: 10px;
    padding: 25px 0px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
.toggle img:hover{
    width: 110%;
    height: 105%;
    color: rgb(66, 66, 66);
    cursor: pointer;
}
.submit:hover{
    cursor: pointer;
    background-color: (239, 238, 241);
}
.submit{
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;   
    border: 1px solid #c4c1c9;
    background-color: white;

}
input::placeholder {
    font-family: 'Josefin Sans', sans-serif; 
 }
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form{
    background-color: white;
    padding: 5px 25px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.form input[type="text"]{
    border: none;
    padding: 10px 10px;
    width: 80%;
    font-size: 19px;
}




.nav{
    display: flex;
    display: flex;
    margin: opx 10px;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    font-size: 13px;
    
    
}
.right1{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}
.all:hover, .active:hover, .completed:hover, .clear:hover{
    color: #5680D6;
    cursor: pointer;
}
.drag{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.table-data{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

}
td {
    padding: 10px;
    border-bottom: 1px solid #d8d5e0;
}

body{
    /* background-color: yellow; */
}
table{
    /* box-shadow: 2px 5px 10px grey; */
}

.btm{
    box-shadow: 1px 2px 10px rgb(188, 188, 188);
}